<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    verbose="true"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="PG">
            <directory>tests/pg</directory>
        </testsuite>
        <testsuite name="Commerce">
            <directory>tests/commerce</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="BOOTPAY_ENV" value="production"/>
    </php>
</phpunit>
